.btn {
    border: none;
    color: $white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $font-size;
    border-radius: $border-radius;
}

.btn_primary {
  @extend .btn;
  background-color: $blue; 
}

.btn_disabled {
  @extend .btn;
  background-color: $gray-200; 
}